<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
<meta charset="ISO-8859-1">
<title>Palindrome</title>
<link rel="stylesheet"
	href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
	integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
	crossorigin="anonymous">
</head>

<body>
	<div class="container">
		<h1>Palindrome</h1>
		<hr>
		<h2>Enter input text until valid Palindrome</h2>

		<form action="#" th:action="@{/savePalindrome}" th:object="${palindrome}"
			method="POST">
			<input type="text" th:field="*{inputPalindrome}" placeholder="Enter Palindrome name"
				class="form-control mb-4 col-4">
			<p th:if="${#fields.hasErrors('inputPalindrome')}" th:errors="*{inputPalindrome}">Incorrect size</p>

			<button type="submit" class="btn btn-info col-2">Check
				Palindrome</button>
		</form>

		<hr>

		<a th:href="@{/}"> Back to Palindrome List</a>
	</div>
</body>

</html>